@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.oh::-webkit-scrollbar {
	  display: none;
}

html,body{
  display: grid;
  height: 100%;
  /* place-items: center; */
 /* text-align: center; */
  background: #f2f2f2;
   /* Hide scrollbars */
}

.box {
	-webkit-tap-highlight-color: transparent;
}


.top{
	
	padding-top: 10px;
	display: inline;
	font-size: 35px;
}

.top-span{
	font-size: 30px;
	padding-top: 12px;
}
.container{
  height: 13%;
  width: 50vw;
  line-height: 80px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container-top{
  height: 11%;
  background: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.06);
}

.container-top li{
	display: inline;
}

.container .menu{
  display: flex;
  position: relative;
}
.container .menu li{
  list-style: none;
  flex: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  
}
.container .menu li a{
  color: #1d1f20;
  transition: color 0.3s ease;
}
.container .menu li:nth-child(1) a{  /* nth-child(2) */
  color: #f23b26;
}
/* .container .menu .line{
  position: absolute;
  height: 5px;
  width: 20%;
  background: #f23b26;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.container .menu li:nth-child(2):hover ~ .line{
  left: 20%;
}
.container .menu li:nth-child(3):hover ~ .line{
  left: 40%;
}
.container .menu li:nth-child(4):hover ~ .line{
  left: 60%;
}
.container .menu li:nth-child(5):hover ~ .line{
  left: 80%;
} */
